* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 50vh;
    background-color: #1a1a1a !important;
    background: linear-gradient(45deg, black,grey);
    background-size: cover;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between; /* Adjusted to provide space for the hamburger menu */
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
    padding: 0 20px; /* Added padding for better spacing */
    min-height: 8vh;
    width: 100%;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textboxes-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 5px;
    width: 200px;
}

.textbox2,
.textbox3 {
    background-color: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    text-align: left;
    margin-bottom: 1px;
    border: 0px solid #ffffff;
}

.textbox2 {
    color: rgb(255, 255, 255);
    font-style: oblique;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textbox3 {
    color: rgb(255, 255, 255);
    font-style: oblique;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.carrossel {
    filter: drop-shadow(0px 0px 10px #000);
    overflow: hidden;
    width: 400px;
    height: 600px;
    margin-top: 20px;
}

.container {
    display: flex;
    transition: transform 0.7s ease-in-out;
    size: auto;
    
}

img {
    width: 100%;
    height: auto;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }
    header {
        width: 100%; /* Adjust the minimum height for smaller screens */
    }

    .hamburger {
        display: block;
    }

    .nav-list {
        display: none; /* Hide the regular navigation items when hamburger is visible */
        flex-direction: column;
        position: absolute;
        top: 8vh;
        left: 0;
        width: 100%;
        background: #23232e;
        text-align: center;
    }

    .nav-list.active {
        display: flex; /* Show the navigation items when the hamburger menu is active */
    }

    .nav-list li {
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
    }
}

.coluna.linha {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.coluna.linha .box-itens {
    display: flex;
    transition: transform 0.7s ease-in-out;
}

.coluna.linha .item {
    width: 10vw;
    box-sizing: border-box;
    flex: 0 0 auto;
}

.coluna.linha .item img {
    max-width: 100%;
    height: auto;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    background-color: #c9830ac7;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.textbox {
    background-color: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: left;
}

footer {
    background-color: #23232e;
    text-align: center;
    padding: 5px;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
